
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<html>
  <head>
  <link rel="stylesheet" href="main.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  </head>
<body id="LoginForm">
<div class="container">
    <img src="ronsomwhere%20logo%202%20.png" width="400" height="200">
        <div class="login-form">
        <div class="main-div">
            <div class="panel">
               <h2>Admin Login</h2>
               <p>Please enter your ID & PW</p>
            </div>
       
                              
            <form action="login_ok.php" method="post" id="Login">

                <div class="form-group">


                    <input type="text" class="form-control" id="id" placeholder="ID">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="pw" placeholder="Password">
                </div>    
                    
                    <Input type="submit" name="login" class="btn btn-primary" value="Login">
                
        </form>
    </div>
</body>
</html>
